extends layout

block content
  h1= title
  p Welcome to #{title}
  button#newMessage(onClick="window.location.href='/new';") New Message
  .messageContainerWrapper 
    .messageContainer
      each message in messages
        li.message
          p.name= message.user
          h3.text= message.text 
          p.date= message.date

